* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mouse Memoirs";
  font-weight: 400;
  font-style: normal;
}

body .main-categories {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: rgb(88, 7, 116);
  background: linear-gradient(193deg, rgb(88, 7, 116) 19%, rgb(255, 0, 251) 62%, rgb(0, 0, 0) 93%);
  background-image: linear-gradient(to button);
  background-attachment: fixed;
  padding: 120px;
  padding-top: 50px;
}
body .main-categories header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 1s;
}
body .main-categories header .button-back .back {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: none;
  background-image: linear-gradient(#6d07cc, #39046b);
  transition: 200ms;
}
body .main-categories header .button-back .back img {
  width: 45px;
}
body .main-categories header .button-back .back:hover {
  transform: translate(-15px);
  cursor: pointer;
  background-image: linear-gradient(#9d35ff, #39046b);
}
body .main-categories header .title {
  font-size: 65px;
  color: #fff;
  background-image: linear-gradient(#000ba5, #f84ccd);
  -webkit-text-stroke: 1px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 5px #2b082e;
}
body .main-categories .categories {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
  opacity: 0;
  transition: opacity 1s;
}
body .main-categories .categories button {
  width: 100%;
  height: 150px;
  font-size: 55px;
  border-radius: 30px;
  background-color: rgb(118, 4, 153);
  color: #fff;
  border: 5px solid rgb(108, 9, 138);
  transition: 200ms;
}
body .main-categories .categories button:hover {
  transform: translateY(-10px);
  cursor: pointer;
  background-color: rgb(165, 4, 214);
  border: 5px solid rgb(151, 5, 196);
}
body .main-categories .appear {
  opacity: 1;
}

@media screen and (max-width: 1220px) {
  body .main-categories {
    padding: 60px;
    padding-top: 40px;
  }
  body .main-categories header .title {
    font-size: 50px;
  }
  body .main-categories .categories {
    gap: 30px;
  }
  body .main-categories .categories button {
    font-size: 44px;
  }
}
@media screen and (max-width: 888px) {
  body .main-categories header .title {
    text-align: end;
    font-size: 45px;
  }
  body .main-categories .categories {
    margin-top: 40px;
  }
  body .main-categories .categories button {
    height: 100px;
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  body .main-categories header .title {
    font-size: 37px;
    -webkit-text-stroke: 3px #2b082e;
  }
}
@media screen and (max-width: 520px) {
  body .main-categories {
    padding: 20px;
    padding-top: 30px;
    height: auto;
  }
  body .main-categories header {
    align-items: start;
  }
  body .main-categories header .button-back .back {
    width: 70px;
    height: 70px;
  }
  body .main-categories .categories {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  body .main-categories .categories button {
    height: 100px;
  }
}
@media screen and (max-width: 425px) {
  body .main-categories header .button-back .back {
    width: 55px;
    height: 55px;
  }
  body .main-categories header .button-back .back img {
    width: 35px;
  }
  body .main-categories header .title {
    font-size: 30px;
  }
  body .main-categories .categories {
    gap: 20px;
  }
  body .main-categories .categories button {
    height: 80px;
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  body .main-categories header .button-back .back {
    width: 50px;
    height: 50px;
  }
  body .main-categories header .button-back .back img {
    width: 30px;
  }
  body .main-categories header .title {
    font-size: 27px;
    -webkit-text-stroke: 2px #2b082e;
  }
  body .main-categories .categories {
    gap: 20px;
  }
  body .main-categories .categories button {
    height: 70px;
    font-size: 27px;
  }
}

/*# sourceMappingURL=categories.css.map */
