* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mouse Memoirs";
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("../images/background-game.jpg");
  padding: 9%;
  padding-top: 0;
  position: relative;
  height: 100vh;
}
body .main-game {
  opacity: 0;
  transition: opacity 1s;
}
body .main-game header {
  display: flex;
  justify-content: space-between;
}
body .main-game header .button-back {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-game header .button-back button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-image: linear-gradient(#6d07cc, #39046b);
  transition: 200ms;
}
body .main-game header .button-back button img {
  width: 45px;
}
body .main-game header .button-back button:hover {
  transform: translate(-15px);
  cursor: pointer;
  background-image: linear-gradient(#9d35ff, #39046b);
}
body .main-game header .name-category {
  font-size: 80px;
  color: #fff;
  background-image: linear-gradient(#000ba5, #f84ccd);
  -webkit-text-stroke: 1px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 5px #2b082e;
}
body .main-game header .position-header {
  width: 80px;
}
body .main-game header .player-life {
  display: flex;
  align-items: center;
  position: absolute;
  right: 60px;
  top: 60px;
}
body .main-game header .player-life img {
  width: 80px;
}
body .main-game header .player-life .life-bar {
  margin-left: 25px;
  width: 250px;
  height: 20px;
  background-color: rgba(212, 0, 255, 0.3568627451);
  border-radius: 20px;
}
body .main-game header .player-life .life-bar .remaining-life {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #d504ff;
}
body .main-game .key-words {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 110px;
}
body .main-game .key-words .word {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #ffffff;
}
body .main-game .key-words .word .letter {
  margin: 8px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  border-radius: 20px;
}
body .main-game .key-words .word .empty {
  background-color: #290268;
  border: 5px solid #1a0141;
}
body .main-game .key-words .word .checked {
  background-color: #00aeff;
  border: 5px solid #0379af;
}
body .main-game .alphabet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
}
body .main-game .alphabet .letter {
  color: #fff;
  margin: 10px;
  font-size: 45px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(38, 0, 255);
  border: 5px solid rgb(3, 132, 218);
  box-shadow: 3px 5px 18px black;
  transition: 300ms;
}
body .main-game .alphabet .letter:hover {
  cursor: pointer;
  transform: translateY(-10px);
  background-color: #00e1ff;
}
body .main-game .alphabet .letter-checked {
  background-color: rgba(38, 0, 255, 0.16);
  border: 5px solid rgba(3, 132, 218, 0.16);
  color: rgba(255, 255, 255, 0.3764705882);
}
body .main-game .alphabet .letter-checked:hover {
  cursor: auto;
  transform: none;
  background-color: rgba(38, 0, 255, 0.16);
}
body .game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  border-radius: 40px;
  background-color: rgba(105, 9, 196, 0.4862745098);
  box-shadow: 4px 8px 20px black;
  opacity: 0;
  transition: opacity 1s;
}
body .game-over .title {
  font-size: 60px;
  color: #fff;
  background-image: linear-gradient(#000ba5, #f84ccd);
  -webkit-text-stroke: 1px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 5px #2b082e;
  position: relative;
  bottom: 93px;
  height: 116px;
}
body .game-over .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  top: -50px;
}
body .game-over .buttons button {
  margin: 30px;
  color: #fff;
  border: none;
  box-shadow: 1px 4px 13px #0f0d0d;
}
body .game-over .buttons .play-again {
  width: 45%;
  height: 100px;
  border-radius: 20px;
  font-size: 44px;
  border: none;
  background-image: linear-gradient(#6d07cc, #39046b);
  color: white;
  box-shadow: 1px 4px 13px #0f0d0d;
  transition: 200ms;
}
body .game-over .buttons .play-again:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-image: linear-gradient(#9d35ff, #39046b);
}
body .game-over .buttons .back-to-categories {
  width: 35%;
  height: 80px;
  border-radius: 20px;
  font-size: 35px;
  background-color: #ff00bf;
  transition: 200ms;
}
body .game-over .buttons .back-to-categories:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #ff24e2;
}
body .game-over .buttons .quit-game {
  width: 45%;
  height: 80px;
  border-radius: 20px;
  font-size: 44px;
  background-image: linear-gradient(#6d07cc, #39046b);
  color: white;
  box-shadow: 1px 4px 13px #0f0d0d;
  transition: 200ms;
}
body .game-over .buttons .quit-game:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-image: linear-gradient(#9d35ff, #39046b);
}
body .game-over .display-key-word {
  font-size: 30px;
  background-color: #00e1ff;
  color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 4px 8px 20px black;
  position: relative;
  top: -10px;
}
body .you-win {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  border-radius: 40px;
  background-color: rgba(105, 9, 196, 0.4862745098);
  box-shadow: 4px 8px 20px black;
  opacity: 0;
  transition: opacity 1s;
}
body .you-win .title {
  font-size: 60px;
  color: #fff;
  background-image: linear-gradient(#000ba5, #f84ccd);
  -webkit-text-stroke: 1px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 5px #2b082e;
  position: relative;
  bottom: 93px;
  height: 116px;
}
body .you-win .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body .you-win .buttons button {
  margin: 30px;
  color: #fff;
  border: none;
  box-shadow: 1px 4px 13px #0f0d0d;
}
body .you-win .buttons .play-again {
  width: 45%;
  height: 100px;
  border-radius: 20px;
  font-size: 44px;
  border: none;
  background-image: linear-gradient(#6d07cc, #39046b);
  color: white;
  box-shadow: 1px 4px 13px #0f0d0d;
  transition: 200ms;
}
body .you-win .buttons .play-again:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-image: linear-gradient(#9d35ff, #39046b);
}
body .you-win .buttons .back-to-categories {
  width: 35%;
  height: 80px;
  border-radius: 20px;
  font-size: 35px;
  background-color: #ff00bf;
  transition: 200ms;
}
body .you-win .buttons .back-to-categories:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #ff24e2;
}
body .you-win .buttons .quit-game {
  width: 45%;
  height: 80px;
  border-radius: 20px;
  font-size: 30px;
  background-image: linear-gradient(#6d07cc, #39046b);
  color: white;
  box-shadow: 1px 4px 13px #0f0d0d;
  transition: 200ms;
}
body .you-win .buttons .quit-game:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-image: linear-gradient(#9d35ff, #39046b);
}
body .appear {
  opacity: 1;
}

@media screen and (max-width: 1430px) {
  body {
    padding: 5%;
    padding-top: 20px;
  }
  body .main-game header .name-category {
    font-size: 60px;
  }
  body .main-game header .player-life {
    top: 70px;
    right: 30px;
  }
  body .main-game header .player-life img {
    width: 60px;
  }
  body .main-game header .player-life .life-bar {
    width: 200px;
    height: 15px;
  }
  body .main-game .alphabet .letter {
    width: 50px;
    height: 50px;
    font-size: 35px;
  }
}
@media screen and (max-width: 1025px) {
  body .main-game header .name-category {
    width: 100%;
    text-align: end;
    font-size: 60px;
    -webkit-text-stroke: 4px #2b082e;
  }
  body .main-game header .button-back button {
    width: 60px;
    height: 60px;
  }
  body .main-game header .button-back button img {
    width: 35px;
  }
  body .main-game header .player-life {
    top: 160px;
    right: 45px;
  }
  body .main-game header .player-life img {
    width: 50px;
  }
  body .main-game header .player-life .life-bar {
    width: 200px;
    margin-left: 15px;
  }
  body .main-game header .position-header {
    width: 0;
  }
  body .main-game .key-words {
    margin-top: 110px;
  }
  body .main-game .key-words .word .letter {
    width: 80px;
    height: 80px;
    font-size: 45px;
  }
  body .main-game .alphabet {
    margin-top: 60px;
  }
}
@media screen and (max-width: 900px) {
  body .game-over {
    width: 450px;
    height: 430px;
  }
  body .game-over .title {
    font-size: 40px;
    bottom: 60px;
    -webkit-text-stroke: 3px #2b082e;
  }
  body .game-over .buttons {
    top: -60px;
  }
  body .game-over .buttons button {
    margin-bottom: 10px;
  }
  body .game-over .buttons .play-again {
    width: 200px;
    height: 70px;
    font-size: 35px;
  }
  body .game-over .buttons .back-to-categories {
    width: 150px;
    height: 70px;
    font-size: 25px;
  }
  body .game-over .buttons .quit-game {
    width: 200px;
    height: 70px;
    font-size: 35px;
  }
  body .game-over .display-key-word {
    width: 170px;
    font-size: 15px;
    position: relative;
    top: -20px;
  }
  body .you-win {
    width: 450px;
    height: 400px;
  }
  body .you-win .title {
    font-size: 40px;
    bottom: 60px;
    -webkit-text-stroke: 3px #2b082e;
  }
  body .you-win .buttons {
    position: relative;
    top: -50px;
  }
  body .you-win .buttons button {
    margin-bottom: 10px;
  }
  body .you-win .buttons .play-again {
    width: 200px;
    height: 70px;
    font-size: 35px;
  }
  body .you-win .buttons .back-to-categories {
    width: 150px;
    height: 70px;
    font-size: 25px;
  }
  body .you-win .buttons .quit-game {
    width: 200px;
    height: 70px;
    font-size: 35px;
  }
}
@media screen and (max-width: 735px) {
  body .main-game .key-words .word {
    margin: 30px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  body .main-game .key-words .word .letter {
    width: 60px;
    height: 60px;
    font-size: 35px;
    border-radius: 15px;
    margin: 5px;
  }
}
@media screen and (max-width: 600px) {
  body .main-game header .name-category {
    width: 100%;
    text-align: end;
    font-size: 50px;
  }
  body .main-game header .player-life {
    top: 135px;
    right: 35px;
  }
  body .main-game header .player-life img {
    width: 50px;
  }
  body .main-game header .player-life .life-bar {
    width: 170px;
    height: 13px;
    margin-left: 15px;
  }
  body .main-game .key-words {
    margin-top: 80px;
  }
}
@media screen and (max-width: 530px) {
  body .main-game header .name-category {
    font-size: 40px;
    -webkit-text-stroke: 3.2px #2b082e;
  }
  body .main-game header .button-back button {
    width: 50px;
    height: 50px;
  }
  body .main-game header .button-back button img {
    width: 30px;
  }
  body .main-game header .player-life {
    right: 25px;
    top: 100px;
  }
  body .main-game header .player-life img {
    width: 45px;
  }
  body .main-game header .player-life .life-bar {
    height: 10px;
    margin-left: 13px;
  }
  body .main-game .key-words {
    margin-top: 100px;
  }
  body .main-game .key-words .word {
    margin: 20px;
    margin-bottom: 5px;
    margin-top: 0;
  }
  body .main-game .key-words .word .letter {
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
    margin: 3px;
  }
  body .main-game .key-words .word .empty {
    border: 3px solid #1a0141;
  }
  body .main-game .key-words .word .checked {
    border: 3px solid #0379af;
  }
  body .main-game .alphabet .letter {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  body .game-over {
    width: 300px;
    height: 380px;
  }
  body .game-over .title {
    font-size: 30px;
    bottom: 45px;
    -webkit-text-stroke: 1.8px #2b082e;
  }
  body .game-over .buttons {
    position: relative;
    top: -50px;
  }
  body .game-over .buttons button {
    margin-bottom: 10px;
  }
  body .game-over .buttons .play-again {
    width: 165px;
    height: 60px;
    font-size: 30px;
  }
  body .game-over .buttons .back-to-categories {
    width: 115px;
    height: 60px;
    font-size: 23px;
  }
  body .game-over .buttons .quit-game {
    width: 165px;
    height: 60px;
    font-size: 30px;
  }
  body .game-over .display-key-word {
    width: 130px;
    font-size: 14px;
    position: relative;
    top: -20px;
  }
  body .you-win {
    width: 300px;
  }
  body .you-win .title {
    font-size: 30px;
    bottom: 45px;
    -webkit-text-stroke: 1.8px #2b082e;
  }
  body .you-win .buttons {
    position: relative;
    top: -50px;
  }
  body .you-win .buttons button {
    margin-bottom: 10px;
  }
  body .you-win .buttons .play-again {
    width: 165px;
    height: 60px;
    font-size: 30px;
  }
  body .you-win .buttons .back-to-categories {
    width: 115px;
    height: 60px;
    font-size: 23px;
  }
  body .you-win .buttons .quit-game {
    width: 165px;
    height: 60px;
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  body .main-game .key-words .word {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px) {
  body .main-game header .name-category {
    font-size: 33px;
    -webkit-text-stroke: 3px #2b082e;
  }
  body .main-game header .player-life {
    top: 90px;
  }
  body .main-game header .player-life img {
    width: 40px;
  }
  body .main-game header .player-life .life-bar {
    height: 10px;
    width: 140px;
    margin-left: 13px;
  }
}
@media screen and (max-width: 375px) {
  body .main-game header .button-back button {
    width: 45px;
    height: 45px;
  }
  body .main-game header .button-back button img {
    width: 25px;
  }
}
@media screen and (max-height: 630px) {
  body .main-game .key-words {
    margin-top: 70px;
  }
  body .main-game .alphabet {
    margin-top: 30px;
  }
}
@keyframes anima {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=game.css.map */
